extends ../layout

block content
  h1 Add Movie
  if errors && errors.length
    ul.errors
      each err in errors
        li= err

  form(method="POST" action="/movies/add")
    div
      label Name
      input(type="text" name="name" value=name || '')
    div
      label Description
      textarea(name="description")= description || ''
    div
      label Year
      input(type="number" name="year" value=year || '')
    div
      label Genres (comma separated)
      input(type="text" name="genres" value=genres || '')
    div
      label Rating (0-10)
      input(type="number" step="0.1" min="0" max="10" name="rating" value=rating || '')
    button(type="submit") Add Movie
